
body {
		font-family: Helvetica;
}

html {
    margin: 0;
    padding: 0;
}

Div {
}

div#content {
	width: 375px;
	height: 667px;
	padding: 0px;
	margin: 0 auto;
	border: solid 2px black;
}

div#header {
	height: 60px;
	padding: 0px;
	background-color: black;
	color: white;
	margin-top: 10px;
	font-family: Verdana;
	text-align: center;
	padding-top: 10px;
}

h1 {
	font-family: Avenir;	
	margin: 0 auto;
	padding: 0;
}
/* Grocerl list ///////////////////////////////////////////// */
div#listWrapper {
	border-top: solid 5px #0077C6;
	margin-top: 10px;
	padding-top: 0px;
}

div#listWrapper h2 {
	padding-left: 10px;
	padding-top: 0;
	margin-top: 10px;
	font-family: Avenir;
}

div#mainInput {
	width: 310px;
	height: 40px;
	margin: 0 auto;
	padding: 0px;
}

div#mainInput input {
	width: 195px;
	font-size: 20px;
	padding: 5px;
	margin: 0;
	position: absolute;
	border: solid 2px black;
}

div#mainInput button {
	width: 100px;
	font-size: 20px;
	padding: 5px;
	margin: 0;
	position: absolute;
	left: 262px;
	background-color: #67ADFF;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: solid 2px black;
}