
body {
		font-family: Helvetica;
}

html {
    margin: 0;
    padding: 0;
}

Div {
	border-radius: 3px;
	border-color: red;
}

div#content {
	width: 375px;
	height: 667px;
	padding: 5px;
	margin: 0 auto;
	background-color: #444;
}

div.wrapper {
    width: 300px;
    text-align: center;
		margin: 5px auto;
		padding: 5px;
}

div#header {
	width: 280px;
	height: 50px;
	padding-top: 11px;
	margin-bottom: 20px;
	background-color: lightgray;
}

div#mainInput {
	width: 200px;
	background-color: lightgray;
}

input {
	width: 150px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

button#addItem {
	width: auto;
	margin: 10px auto;
	display: block;
	text-align: center;
}


ul, li {
	border-radius: inherit;
}

ul {
	list-style-type: none;
	margin: 10px auto;
	padding: 5px;
	min-height: 35px;
}

li {
	width: 230px;
	font-size: 25px;	
	margin: 20px auto;
}






div#rejectsWrapper {
	display: none;
}

h1, h2 {
	color: white;
	margin: 2px;
	text-shadow: 2px 3px 10px #000;
}





div#listWrapper {
	background-color: #444;
}

ul#groceryList {
	background-color: #0D47A1;

	
}

li.groceryItem {
	background-color: #BBDEFB;

	padding: 5px;
	display: block;	
}

div.popUp {
	background-color: #90CAF9;
	padding: 3px;
	width: 250px;
	margin: 0 auto;
}

ul#shoppingCart {
	background-color: green;
	
}

ul#shoppingCart li {
	background-color: lightgreen;
	display: block;	
}

ul#rejects {
	background-color: crimson;
}

ul#rejects li {
	background-color: lightcoral;
	display: block;
	
}

input {
	width: 150px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

button {
	width: 160px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

button#x {
	width: 20px;
}

