
body {
		font-family: Helvetica;
}

html {
    margin: 0;
    padding: 0;
}

Div {
	border-radius: 25px;
	border-color: red;
}

div#content {
	width: 375px;
	height: 667px;
	padding: 5px;
	margin: 0 auto;
	background-color: #444;
}

div.wrapper {
    width: 350px;
    background-color: lightgray;
    text-align: center;
		margin: 5px auto;
		padding: 5px;
}

div#rejectsWrapper {
	display: none;
}

h1, h2 {
	color: white;
	margin: 2px;
	text-shadow: 2px 3px 10px #000;
}

ul, li {
	border-radius: 20px;
}

ul {
	list-style-type: none;
	margin: 10px auto;
	padding: 5px;
}

div#listWrapper {
	background-color: #444;
}

ul#groceryList {
	background-color: #0D47A1;
	min-height: 35px;
	
}

li.groceryItem {
	background-color: #BBDEFB;
	margin: 5px auto;
	padding: 5px;
	display: block;	
}

div.popUp {
	background-color: #90CAF9;
	padding: 3px;
	width: 250px;
	margin: 0 auto;
}

ul#shoppingCart {
	background-color: green;
	
}

ul#shoppingCart li {
	background-color: lightgreen;
	margin: 5px auto;
	width: 300px;
	padding: 5px;
	display: block;	
}

ul#rejects {
	background-color: crimson;
}

ul#rejects li {
	background-color: lightcoral;
	margin: 5px auto;
	width: 300px;
	padding: 5px;
	display: block;
	
}

input {
	width: 200px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

button {
	width: 160px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

button#x {
	width: 20px;
}

